body {
    width: 100%;
    height: 100%;
}

#theImage {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}